*{
    padding: 5px;
    font-family: cursive;
}
input{
    width:220px;
    height:30px;
    border:1px solid #ccc;
    text-align:center;
    border-radius: 5px;
    color: red;
}
.register{
    background-color:red;
    color: #fff;
    border: none;
    cursor: pointer;
}
.you{
    margin: 0px;
    margin-top: auto;
    margin-bottom: 10px;
    text-align: right;
    float: right;
}
.you p{
    color: red;
    margin-bottom: 0px;
    font-family: cursive;
    font-weight: bold;
}
.you input{
    margin-top: 10px;
    background-color: red;
    color: #fff;
    width: 80px;
    height: 35px;
    border-style: hidden;
    border-radius: 8px;
    cursor: pointer;

}
.friend{
    float: left;
    margin: 0px;
    margin-top: auto;
    margin-bottom: 10px;
    text-align: left;
}
.friend p{
    color: red;
    margin-bottom: 0px;
    font-family: cursive;
    font-weight: bold;
}
.friend input{
    margin-top: 10px;
    background-color: red;
    color: #fff;
    width: 80px;
    height: 35px;
    border-style: hidden;
    border-radius: 8px;
    cursor: pointer;

}
textarea{
    border: 1px solid #ccc;
    border-radius: 5px;
}
.log{
    margin-top: 300px;
    background-color: red;
    color: #fff;
    width: 80px;
    border-style: hidden;
    height: 35px;
    align-items: right;
    border-radius: 8px;
    cursor: pointer;
}
body{
    background-image: url(../images/top3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 150px;
}
.error{
    color: white;
    font-family: cursive;
}

.mechat{
    text-align: right;
    color: green;
}